<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block tel_css %}{% endblock %}
    {% block tel_js %}{% endblock %}
    <title>{% block title %} {% endblock %} - Frame Admin</title>
    <style>
      :root {
          --background-color: #1F2227;
          --text-color: #c0c0c0;
      }
      * {
          font-family: monospace;
      }
      body {
        background-color: var(--background-color);
        color: var(--text-color);
      }    
      .baselayout {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 16px;
        align-items: center;
      }
      .nav {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        height: 30px;
        display: flex;
        gap: 8px;
      }
      .grow1 { 
        flex-grow: 1; 
      }
      a,
      h1 {
        color: #777777;
      }
      button {
        background-color: #909090;
        color: #121212;
      }
    </style>
  </head>
  <body>
    <section class="baselayout">
      <div class="nav">
        <a href="{{ url_for(name='index') }}"><button type="button">Index</button></a>
        <a href="{{ url_for(name='sync') }}"><button type="button">Sync</button></a>
        <a href="{{ url_for(name='telemetry') }}"><button type="button">Telemetry</button></a>
        <a href="{{ url_for(name='revoke') }}"><button type="button">Revoke</button></a>    
      </div>
      <div class="grow1">
        {% block content %} {% endblock %}
      </div>
    </section>
    {% block scripts %}{% endblock %}
  </body>
</html>
