{% extends 'base.html.tera' %}
{% block title %}Home{% endblock %}
{% block content %}
          <div class="fp_layout">
            <svg id="fp_dog" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 625.000000 538.000000" preserveAspectRatio="xMidYMid meet">
              <use xlink:href="#l_dog"/>
            </svg>
            <p>Hello world! Take my picture ;)</p>
          </div>
{% endblock %}
